doctype 5
html
head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
body
    #container
        #header
            h1 Test Node
        block content
        #footer
            a(href="http://blog.koalite.com") koalite